<div class="container">
    <h1>Your Saved Articles:</h1>
    {{#each articles}}
    <div class="row">
        <div class="col-sm-12">
            <br>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title"><strong><a href="{{this.link}}" class="article-link" target="_blank">{{this.title}}</a></strong><span class="published-date">Published: {{this.pubdate}}</span></h3>
                </div>
                <div class="panel-body">
                    <table width="100%">
                        <tr class="table-row-list" width="100%">
                            <td width="95%">
                                <div>
                                    <img src="{{this.image}}" class="article-image">
                                    <p>{{this.summary}}</p>
                                </div>
                            </td>
                            <td width="5%" align="center">
                                <button type="button" class="btn unsave-button" data-id="{{this._id}}"><span class="glyphicon glyphicon-remove"></span></button>
                                <button type="button" class="btn view-notes" data-id="{{this._id}}"><span class="glyphicon glyphicon-comment"></span></button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="container note-section" id="note-toggle{{this._id}}">
        <div class="row container-fluid panel-body">
            <h4>Notes:</h4>
            <span id="existing-notes{{this._id}}"></span>
        </div>
        <div class="row container-fluid panel-body">
            <form class="note-form">
                <div class="form-group">
                    <input type="text" id="name-input{{this._id}}" data-id="{{this._id}}" class="name-input" name="name" placeholder="Your Name" onfocus="this.placeholder = ''">
                    <input type="text" id="title-input{{this._id}}" data-id="{{this._id}}" class="title-input" name="title" placeholder="Note Title" onfocus="this.placeholder = ''">
                    <input type="text" id="note-input{{this._id}}" data-id="{{this._id}}" class="note-input" name="note" placeholder="What did you think of the article?" onfocus="this.placeholder = ''">
                </div>
                <button class="btn post-note" data-id="{{this._id}}" type="button">Save Note</button>
            </form>
        </div>
    </div>
    {{/each}}
</div>